<mat-card class="col-12">
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Generar Orden de Pedido</mat-card-title>
    <div class="margenSuperior2 ">
      <button mat-button class="mat-button-icon mat-button-icon"  (click)="close(1)" tabindex="-1">
        <div class="example-tooltip-host" matTooltip="Cerrar" [matTooltipPosition]="'above'">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>

    <div class="col-12 card-body text-center">
      <mat-form-field class="col-sm-6 mat-form-field-flex1">
        <input matInput placeholder="Nombre del material" [(ngModel)]="requestListar.nombre"
          (input)="busqueda($event.target.value)" matTooltip="Mínimo 2 caracteres" [matTooltipPosition]="'above'"
          (keypress)="setInputPattern($event, 'soloUnEspacioNumeroLetraPunto')"
          [pattern]="setValidatorPattern('soloUnEspacioNumeroLetraPunto', setQuantifier('+'), true, true)">
      </mat-form-field>
    </div>

    <div class="table responsive">
      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.codigo }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="material">
          <mat-header-cell *matHeaderCellDef>Material</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.nombre }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="marca">
          <mat-header-cell *matHeaderCellDef>Marca </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.marca }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cantidad">
          <mat-header-cell *matHeaderCellDef> Stock Actual </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.stock }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sm">
          <mat-header-cell *matHeaderCellDef> Stock Máximo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.stockMaximo }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pp">
          <mat-header-cell *matHeaderCellDef> Punto Pedido </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.puntoPedido }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="smi">
          <mat-header-cell *matHeaderCellDef> Stock Mínimo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.stockMinimo }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="alerta">
          <mat-header-cell *matHeaderCellDef> Alerta</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.alerta }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="pedir">
          <mat-header-cell *matHeaderCellDef> Cantidad a Solicitar</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.stockMaximo-element.stock}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="orden">
          <mat-header-cell *matHeaderCellDef> Generar Orden </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="generarOrden(element)">
            <button mat-button>
              <div class="example-tooltip-host" matTooltip="Generar Orden de Pedido" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">assignment</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Header -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      <!-- PAGINADOR -->
      <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize"
        (page)="pageEvent($event)" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>


</mat-card>