<mat-toolbar class="menuPrincipal">
  <div class="menu-icon"  style="margin: -130px;">
    <div class="mat__prin" ></div>
  </div>
  <span class="example-spacer"></span>
  <span class="sedeHispital">SCG-CARSPA</span>
  <span class="example-spacer"></span>
  <div class="mat__action">
    <div class="mat__user" [matMenuTriggerFor]="menu"></div>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <!-- <mat-icon>dialpad</mat-icon> -->
        <span class="" >Usuario</span>
      </button>
      <!-- <button mat-menu-item disabled>
        <span>Editar Perfil</span>
      </button> -->
      <!-- <button mat-menu-item (click)="cambiarContrasena()">
        <span>Cambiar Contraseña</span>
      </button> -->
      <button mat-menu-item>
        <span>Ayuda</span>
      </button>
      <!-- <mat-divider></mat-divider> -->
      <button mat-menu-item (click)="cerrarSesion()">
        <span>Cerrar Sesi&oacute;n</span>
      </button>
    </mat-menu>
  </div>
  <img style="vertical-align:middle;margin-right:8px" aria-hidden height="40" />
</mat-toolbar>

<mat-toolbar id="principalmenu" class=" principalmenu" *ngIf="visible; else agregarboton">
  <mat-toolbar-row  class="module principalmenu"> 
    <!-- <a mat-button class="mat-button  {{activado.almacen}}" (click)="goToModulo('almacen')">Almacen</a> -->

    <!-- <div class="row col-12 principal-cards"> -->
        <div mat-button class="mat-button col-4 {{activado.almacen}}" (click)="goToModulo('almacen')">
          <mat-card class="Surface ">
              <mat-card-subtitle style=" margin-bottom: -20px;"> 
                  <p class="botomx">Ingresar al modulo.</p>
                </mat-card-subtitle>
            <div class="menu-icon">
              <div class="mat__1"></div>
            </div>
            <div class="">
              <mat-card-title class="mat-header">
                <h4 class="col-10">ALMACEN</h4>
                <i ng-show="showme" ng-hide="check-list" class="material-icons col-2">check_circle</i>
              </mat-card-title>
            </div>
          </mat-card>
        </div>
        <div mat-button class="mat-button col-4 {{activado.inventario}}" (click)="goToModulo('inventario')">
          <mat-card class="Surface ">
              <mat-card-subtitle style=" margin-bottom: -20px;"> 
                  <p class="botomx">Ingresar al modulo.</p>
                </mat-card-subtitle>
              <div class="menu-icon">
                  <div class="mat__2"></div>
                </div>
            <div class="">
              <mat-card-title class="mat-header">
                <h4 class="col-10">INVENTARIO</h4>
                <i ng-show="showme" ng-hide="check-list" class="material-icons col-2">check_circle</i>
              </mat-card-title>
            </div>
          </mat-card>
        </div>
        <!-- <div mat-button class="mat-button col-4 {{activado.compra}}" (click)="goToModulo('compra')">
          <mat-card class="Surface ">
            <mat-card-subtitle style=" margin-bottom: -20px;"> 
                <p class="botomx">Ingresar al modulo.</p>
              </mat-card-subtitle>
            <div class="menu-icon">
                <div class="mat__3"></div>
              </div>
            <div class="">
              <mat-card-title class="mat-header">
                <h4 class="col-10">COMPRAS</h4>
                <i ng-show="showme" ng-hide="check-list" class="material-icons col-2">check_circle</i>
              </mat-card-title>
              
            </div>
          </mat-card>
        </div> -->
        <div mat-button class="mat-button col-4 {{activado.mantenimiento}}" (click)="goToModulo('mantenimiento')">
          <mat-card class="Surface ">
            <mat-card-subtitle style=" margin-bottom: -20px;"> 
                <p class="botomx">Ingresar al modulo.</p>
              </mat-card-subtitle>
            <div class="menu-icon">
                <div class="mat__2"></div>
              </div>
            <div class="">
              <mat-card-title class="mat-header">
                <h4 class="col-10">MANTENIMIENTO</h4>
                <i ng-show="showme" ng-hide="check-list" class="material-icons col-2">check_circle</i>
              </mat-card-title>
              
            </div>
          </mat-card>
        </div>
      <!-- </div> -->

    <!-- <a mat-button class="mat-button {{activado.inventario}}" (click)="goToModulo('inventario')">Inventario</a> -->
    <!-- <a mat-button class="mat-button {{activado.compra}}" (click)="goToModulo('compra')">Compras</a> -->
  </mat-toolbar-row>
</mat-toolbar>


<ng-template #agregarboton><a mat-button class="mat-button pruebon botonx" (click)="atras()">Volver a Módulos</a> </ng-template> 

<router-outlet>

</router-outlet>


