<div *ngIf="proveedorDisabled">
  <mat-card class="todaspartes">

    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion"></mat-card-title>
      <div class="container">
        <div class="seccion-title">
          <h5>PROVEEDORES</h5>
        </div>
        <div class="margenSuperior">
          <a mat-button class="mat-button enlace negrita text-right hover " (click)="modalabrir(0)">Registrar</a>


        </div>
      </div>
    </mat-card-header>




    <mat-card-content>

      <div class="col-12 card-body text-center">
        <mat-form-field class="col-sm-6 mat-form-field-flex1">
          <input matInput placeholder="Nombre del proveedor" [(ngModel)]="requestListar.nombreProveedor"
            (input)="busqueda($event.target.value)" matTooltip="Mínimo 2 caracteres" [matTooltipPosition]="'above'"
            (keypress)="setInputPattern($event, 'soloUnEspacioNumeroLetraPunto')"
            [pattern]="setValidatorPattern('soloUnEspacioNumeroLetraPunto', setQuantifier('+'), true, true)">
        </mat-form-field>
      </div>



      <div class="table responsive">
        <mat-table #table [dataSource]="dataSource">



          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nombreProveedor}} </mat-cell>
          </ng-container>



          <ng-container matColumnDef="telefono">
            <mat-header-cell *matHeaderCellDef> Telefono </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.telefono}}
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.email}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="contacto">
            <mat-header-cell *matHeaderCellDef>Contacto </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.contacto}} </mat-cell>
          </ng-container>







          <ng-container matColumnDef="ver">
            <mat-header-cell *matHeaderCellDef> Ver </mat-header-cell>
            <mat-cell *matCellDef="let e">
              <button mat-button (click)="redirige(e.idProveedor)">
                <div class="example-tooltip-host" matToolTip="ver">
                  <span>
                    <i class="material-icons">remove_red_eye</i>
                  </span>
                </div>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="modalabrir(2,element)">
              <button mat-button>
                <div class="example-tooltip-host" matTooltip="Editar" [matTooltipPosition]="'above'">
                  <span>
                    <i class="material-icons">edit</i>
                  </span>
                </div>
              </button>
            </mat-cell>
          </ng-container>





          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>



        <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize"
          (page)="pageEvent($event)" showFirstLastButtons></mat-paginator>

      </div>

    </mat-card-content>
    <br>
  </mat-card>
</div>


<router-outlet *ngIf="proveedorDisabled==false" (regresa)="regresa($event)"></router-outlet>