<mat-toolbar id="submenu1" class="colorMenu3" >
  <mat-toolbar-row class="itemsgs">

      <a mat-button class="mat-button {{activado.listarProveedor}}" (click)="goToModulo('listarProveedor')">Listar Proveedor</a>

      <!-- <a mat-button class="mat-button {{activado.listarMaterialProveedor}}" (click)="goToModulo('listarMaterialProveedor')">Listar Material Proveedor</a> -->
      <a mat-button class="mat-button {{activado.ordenCompra}}" (click)="goToModulo('ordenCompra')">Orden Compra</a>
      <a mat-button class="mat-button {{activado.solicitarCotizacion}}" (click)="goToModulo('solicitarCotizacion')">Solicitud Cotizacion</a>
      <!-- <a mat-button class="mat-button {{activado.reporte}}" (click)="goToModulo('reporte')">Reportes</a> -->
      <!-- <a mat-button class="mat-button {{activado.cotizaciones}}" (click)="goToModulo('cotizaciones')">Cotizaciones</a> -->
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>