
<mat-toolbar id="submenu1" class="colorMenu3">
  <mat-toolbar-row class="itemsgs"> 
    <!-- <a mat-button class="mat-button {{activo[uri]}}" *ngFor="let uri of arrayUris" (click)="goToModulo(uri)">{{jsonUris[uri]}}</a> -->
    <a mat-button class="mat-button {{activado.registrar-material}}" (click)="goToModulo('registrar-material')">Registrar Ingreso de Material </a>
    <a mat-button class="mat-button {{activado.salida-material}}" (click)="goToModulo('salida-material')">Salida de Material</a>
    <a mat-button class="mat-button {{activado.consultar-movimientos}}" (click)="goToModulo('consultar-movimientos')">Kardex</a>
    <a mat-button class="mat-button {{activado.app-client}}" (click)="goToModulo('app-client')">Gestionar Aplicacion</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>